<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
</head>

<body>
  <form>
    <div class="card-header">Sistema de Cadastro de Alguma Coisa - <a routerLink="/login"
        routerLinkActive="active">[sair]</a></div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills mx-3">
              <li class="nav-item"> <a href="/cliente" class="active nav-link">Cliente</a> </li>
              <li class="nav-item"><a routerLink="/endereco" class="nav-link" routerLinkActive="active">Endereço</a>
              </li>
              <li class="nav-item"><a routerLink="/financeiro" class="nav-link" routerLinkActive="active">Financeiro</a>
              </li>
            </ul>
          </div>
        </div>
      </div><br>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group"><label>Código:</label><input type="text" class="form-control" placeholder=""></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>CNPJ/CPF:*</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Situação:</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Tipo:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1 - Normal</option>
                <option>2 - Ninja</option>
                <option>3 - Awesome</option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group"><label>Razão Social/Nome:*</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Nome Fantasia:*</label><input type="text" class="form-control"></div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group"><label>CEP:</label><input type="text" class="form-control" placeholder=""></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Endereço:</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Número:</label><input type="number" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Complemento:</label><input type="text" class="form-control"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group"><label>Bairro:</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Cidade:</label><input type="text" class="form-control"></div>
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>UF:</label><input type="text" class="form-control"></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <!-- <label>Pais</label><input type="password" class="form-control" placeholder="dd/mm/yyyy"> -->
              <label>Segmento: *</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Brasil</option>
                <option>Japão</option>
                <option>China</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label></label>
              <p><input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">Cobrança</label>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Segmento: *</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>100-Atacadista</option>
                    <option>100-Atacadista</option>
                    <option>100-Atacadista</option>
                    <option>100-Atacadista</option>
                    <option>100-Atacadista</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group"><label>Site: *</label><input type="text" class="form-control"
                    placeholder="http://"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
          <div class="col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
        </div>
      </div>
      <p>
        <div class="container">
          <div class="row">
            <div class="col-md-2"></div>
            <!-- <div class="col-md-2"><a class="btn btn-primary" href="#">Salvar</a></div> -->
            <!-- <div class="col-md-2"><a class="btn btn-secondary" href="#">Cancelar</a></div> -->
            <div class="col-md-2"></div>
            <div class="col-md-2"><a routerLink="/endereco" class="btn btn-primary" routerLinkActive="active">Próximo <i
                  class="fa fa-fw fa-arrow-right"></i> </a></div>
          </div>
        </div>
    </div>
  </form>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>

</html>